@charset "UTF-8";

.navigation {
	float: left;
	background-color: red;
	width: 10%;
	height: 400px;
	text-align:center;
}

.mainview {
	float: right;
	background-color: green;
	width: 85%;
	height: 500px;
}
