<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<web-app>
	<welcome-file-list>
		<welcome-file>
				login.jsp
			</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.cms.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/CMS/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.cms.servlet.SignupServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/CMS/SignupServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TocontersignServlet</servlet-name>
		<servlet-class>com.cms.servlet.TocontersignServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TocontersignServlet</servlet-name>
		<url-pattern>/CMS/TocontersignServlet</url-pattern>
	</servlet-mapping>
</web-app>