<?xml version="1.0" encoding="UTF-8" standalone="no" ?>

<web-app>
	<welcome-file-list>
		<welcome-file>
				login.jsp
			</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.cms.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/CMS/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.cms.servlet.SignupServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/CMS/SignupServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DraftServlet</servlet-name>
		<servlet-class>com.cms.servlet.DraftServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DraftServlet</servlet-name>
		<url-pattern>/CMS/DraftServlet</url-pattern>
	</servlet-mapping>
	r
	<servlet>
		<servlet-name>TocontersignServlet</servlet-name>
		<servlet-class>com.cms.servlet.TocontersignServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TocontersignServlet</servlet-name>
		<url-pattern>/CMS/TocontersignServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Admininsertcontract</servlet-name>
		<servlet-class>com.cms.servlet.Admininsertcontract</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admininsertcontract</servlet-name>
		<url-pattern>/CMS/Admininsertcontract</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Admininsertcharacter</servlet-name>
		<servlet-class>com.cms.servlet.Admininsertcharacter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admininsertcharacter</servlet-name>
		<url-pattern>/CMS/Admininsertcharacter</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ApproveServlet</servlet-name>
		<servlet-class>com.cms.servlet.ApproveServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ApproveServlet</servlet-name>
		<url-pattern>/CMS/ApproveServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmServlet</servlet-name>
		<servlet-class>com.cms.servlet.ConfirmServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfirmServlet</servlet-name>
		<url-pattern>/CMS/ConfirmServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignServlet</servlet-name>
		<servlet-class>com.cms.servlet.SignServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignServlet</servlet-name>
		<url-pattern>/CMS/SignServlet</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>AdminConfirmServlet</servlet-name>
		<servlet-class>com.cms.servlet.AdminConfirmServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminConfirmServlet</servlet-name>
		<url-pattern>/CMS/AdminConfirmServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDistributionServlet</servlet-name>
		<servlet-class>com.cms.servlet.AdminDistributionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDistributionServlet</servlet-name>
		<url-pattern>/CMS/AdminDistributionServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDelConServlet</servlet-name>
		<servlet-class>com.cms.servlet.AdminDelConServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDelConServlet</servlet-name>
		<url-pattern>/CMS/AdminDelConServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDelCharServlet</servlet-name>
		<servlet-class>com.cms.servlet.AdminDelCharServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDelCharServlet</servlet-name>
		<url-pattern>/CMS/AdminDelCharServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminDelUserServlet</servlet-name>
		<servlet-class>com.cms.servlet.AdminDelUserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDelUserServlet</servlet-name>
		<url-pattern>/CMS/AdminDelUserServlet</url-pattern>
	</servlet-mapping>
	



	<servlet>
		<servlet-name>Admininsertclient</servlet-name>
		<servlet-class>com.cms.servlet.Admininsertclient</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admininsertclient</servlet-name>
		<url-pattern>/CMS/Admininsertclient</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Admininsertuser</servlet-name>
		<servlet-class>com.cms.servlet.Admininsertuser</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Admininsertuser</servlet-name>
		<url-pattern>/CMS/Admininsertuser</url-pattern>
	</servlet-mapping>

</web-app>